{% extends '@Ojoc/base.html.twig' %}

{% block body %}
    {% if weatherData is defined and weatherData is not null %}
        <h1>{{ weatherData.name }}</h1>
        {% for weather in weatherData.weather %}
            {% set index = loop.index %}
            {{ block('weather_data') }}
        {% endfor %}
    {% else %}
        {{ 'ojoc.error.general'|trans }}
    {% endif %}
{% endblock %}

{% block weather_data %}
    <h3>{% if index is defined %}{{ index }}. {% endif %}{{ weather.main }}</h3>
    <p>{{ weather.description }}</p>
    {% set icon = weather.icon %}
    <span>{{ block('weather_icon') }}</span>
    <span>{{ 'ojoc.topless_or_not'|transchoice(weather.id|first) }}</span>
{% endblock %}

{% block weather_icon %}
    <img src="{{ constant('Ojoc\\Service\\OpenWeather::ICON_URL')|format(icon) }}" />
{% endblock %}
